/* for alpine x-cloak to work */
[x-cloak] {
    display: none !important;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}




/* TOOLTIP STYLING */
.tooltip .tooltiptext {
  background-color: white;
  visibility: hidden;
  /* width: 120px; */
  text-align: center;
  border-radius: 6px;
  padding: 8px 5px;
  position: absolute;
  z-index: 1;
  bottom: 104%;
  /* left: 31%; */
  min-width: fit-content;
  /* margin-left: -60px; */
  font-size: xx-small;
}
.tooltip .tooltiptext a{
    color: #1d4ed8;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #9ca3af transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
    /* .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #374151;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::before {
  visibility: visible;
  opacity: 1;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: 87%;
  left: 50%;
  transform: translateX(-50%) translateY(5px);
  border-width: 5px;
  border-style: solid;
  border-color: #374151 transparent transparent transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
} */


/* Fade-in animation for new chat messages */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px); /* Optional: slight upward movement */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-message-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}
